<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>西恩 dota</title>
	<style type="text/css">
		input::-webkit-input-placeholder { 
			color: #999; 
			-webkit-transition: color.5s; 
		} 
		input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { color: #c2c2c2; 
			-webkit-transition: color.5s; 
		}
	</style>
</head>
<body>
	<div>
		<form  action="/result/" method="get" >
			<p>author name:<input type="text" placeholder="作者名" name="authorname"/></p>
  			<input type="submit" value="Submit" />
		</form>
		<form action="/addauthor/">
			<button>增加作者</button>
		</form>
		<form action="/addbook/">
			<button>增加书籍</button>
		</form>
	</div>
</body>
</html>
		
